<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hbq.codedemopersion.mapper.UmsPermissionMapper">
    <select id="findList" resultType="com.hbq.codedemopersion.model.UmsPermission">
        select * from ums_permission t
        order by t.id desc
    </select>
    <select id="selectPermissionTreeByParentId" resultType="com.hbq.codedemopersion.vo.PermissionTreeVO" parameterType="long">
        SELECT DISTINCT
            t.id id,
            t.per_name perName,
            t.per_url perUrl,
            t.per_type perType,
            t.icon icon,
            t.status status,
            t.remark remark,
            t.parent_id parentId
        FROM
            ums_permission t
        WHERE
            t.parent_id = #{parentId}
        order by t.id
    </select>
    <select id="getUserPermission" resultType="map">
        SELECT
            p.id id,
            p.parent_id parentId,
            p.icon icon,
            p.per_name title,
            p.per_type perType,
            p.per_url href,
            p.remark remark,
            p.status status
        FROM
            ums_permission p
            LEFT JOIN ums_role_per rp ON rp.per_id = p.id
            LEFT JOIN ums_role ro ON ro.id = rp.role_id
            LEFT JOIN ums_user_role ur ON ur.role_id = ro.id
            LEFT JOIN ums_user uu on ur.user_id=uu.id
        WHERE
            ro.status = 1 and
            uu.user_account = #{userAccount} and p.status = 1
        order by p.per_sort asc,p.id asc
    </select>
    <select id="getUserButtonPermission" resultType="string">
        SELECT
            p.per_url button
        FROM
            ums_permission p
                LEFT JOIN ums_role_per rp ON rp.per_id = p.id
                LEFT JOIN ums_role ro ON ro.id = rp.role_id
                LEFT JOIN ums_user_role ur ON ur.role_id = ro.id
                LEFT JOIN ums_user uu on ur.user_id=uu.id
        WHERE
            ro.status = 1
          and uu.user_account = #{userAccount}
          and p.status = 1
          and p.per_type = 1
        order by p.per_sort asc,p.id asc
    </select>
</mapper>